.main
{
background-color:rgb(230, 23, 23);
height: 500px;
width: 60%;
align-items: center;
margin-left: 20%;
margin-top: 5%;
text-align: center;
}
.h1
{
color: blueviolet;
}
.h2{
  color:rgb(200, 163, 235) ;
}
.dark
{
background-color:rgb(32, 30, 30);
height: 500px;
width: 60%;
align-items: center;
margin-left: 20%;
margin-top: 5%;
text-align: center;
}
.light
{
background-color:white;
height: 500px;
width: 60%;
align-items: center;
margin-left: 20%;
margin-top: 5%;
text-align: center;
}
.btn{
  color: blueviolet;
  padding: 4px;
}
